body {
    background: linear-gradient(110deg, #12232E 60%, #4dabda 60%);
    color: white
}

app-list-game-form {
    min-width: 1920px;
    min-height: 1080px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.group-button {
    position: relative;
    bottom: 100px;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    height: 50px;
    font-size: medium;
    justify-content: center;
    margin-left: 260px;
    margin-top: 35px;
    color: #eefbfe;
    background-color: #023647;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary:hover,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #007cc7;
    transition: ease-in 0.25s;
}

div {
    display: flex;
}
