body {
    background: url(../../../assets/bob.jpg);
}

app-list-game-form {
    min-width: 1920px;
    min-height: 1080px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.group-button {
    position:relative;
    bottom:100px;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    width: 150px;
    height: 50px;
    font-size: medium;
    justify-content: center;
    margin-left: 538px;
    margin-top: 35px;
    background-color: rgb(214, 169, 143);
    color: #181d34;
}
