<div class="container">
    <mat-dialog-content class="dialog-content">
        <div mat-dialog-title class="dialog-title">
            <button mat-icon-button aria-label="close dialog" (click)="this.dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h1>Voulez-vous jouer en solo ou en multijoueur?</h1>
        <mat-dialog-actions>
            <button class = "button-choice" mat-stroked-button (click)="startUpGameService.soloLimitedTimeGame()" (click)="close()" routerLink="/game">Solo</button>
            <button class = "button-choice" mat-stroked-button (click)="startUpGameService.startUpWaitingLine(this.gameInfo)">Multijoueur</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
