.container {
    display: flex;
    height: 100%;
    padding: 0px 24px;
    background:  #12232E;
}

h1 {
    position: relative;
    left: 2%;
    color: white;
}

.dialog-content {
    position: relative;
    border: solid black 1px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 35%;
}

.dialog-title > button {
    position: relative;
    left: 96%;
}

.button-choice {
    color: #eefbfe;
    background-color: #203647;
    width: auto;
    margin-bottom: 15px;
    justify-content: center;
}

.button-choice:hover {
    background-color: #007cc7;
    transition: ease-in 0.25s;
}