.container {
    display: flex;
    height: 100%;
    padding: 0px 24px;
    background-color: #12232E;
    color: #eefbfe;
}

h2 {
    position: relative;
    left: 5%;
    color: #eefbfe;
}

.dialog-content {
    position: relative;
    border: solid black 1px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

button {
    background-color: #203647;
    color: #eefbfe;
}

button:hover {

    background-color: #007cc7;
    transition: ease-in 0.25s;    

}

.cancel-button {
    position: relative;
    top: 210px;
    left: 200px;
    background-color: #203647;
    color:#eefbfe;
}

.cancel-button:hover {
    position: relative;
    top: 210px;
    left: 200px;
    background-color: #007cc7;
}
.mat-progress-spinner {
    position: relative;
    left: 24%;
    top: 80px;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #eefbfe;
}
.hostQuit {
    position: relative;
    color: #eefbfe;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
    right: 5%;
}

.waiting-list {
    position: relative;
    top: 75px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    right: 27px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #eefbfe;
}
