<div class="container">
    <mat-dialog-content class="dialog-content">
        <mat-dialog-actions>
            <div class = "hostQuit" *ngIf="!isHostPresent && gameInfo.joinFlag; else hostPresent">
                <h2>L'hôte a quitté</h2>
            </div>
            <ng-template #hostPresent>
                <h2>Vous êtes maintenant en attente d'un autre joueur</h2>
            </ng-template>
            <ng-container *ngIf="gameInfo.classicFlag; else limitedTime">
                <ng-container *ngIf="gameInfo.createFlag; else joinFlag">
                    <button class = "cancel-button" mat-raised-button mat-dialog-close (click)="createGameService.leaveWaitingList(gameInfo.nameGame)">Annuler</button>
                </ng-container>
                <ng-template #joinFlag>
                    <button class = "cancel-button" mat-raised-button mat-dialog-close (click)="joinGameService.leaveJoiningProcess(gameInfo.nameGame)">Annuler</button>
                </ng-template>
            </ng-container>
            <ng-template #limitedTime>
                <button class = "cancel-button" mat-raised-button mat-dialog-close (click)="createGameService.leaveLimitedTimeGame()" (click)="close()">Annuler</button>
            </ng-template>
            <div class = "waiting-list"*ngIf="isSomeoneJoining;else progressBar" >
                <h3>{{ playerTryingToJoin }} essaye de vous rejoindre</h3>
                <div class = "group-button">
                <button mat-raised-button mat-dialog-close (click)="startUpGameService.startMatch(gameInfo.nameGame)">Laisser le joueur rejoindre</button>
                <button mat-raised-button (click)="startUpGameService.declineAdversary(gameInfo.nameGame)">Refuser le joueur</button>
                </div>
            </div>
            <ng-template class = "progressBar" #progressBar>
                <mat-progress-spinner #progressBar [diameter]="70" mode="indeterminate"></mat-progress-spinner>
            </ng-template>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>