.container {
    display: flex;
    height: 100%;
    padding: 0px 24px;
    background-color: #12232E;
    color:White;
}

h1 {
    color: white;
    text-align: center;
    position: relative;
    top: 120px;
    font-size: 20px;
}

.dialog-content {
    position: relative;
    border: solid black 1px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 35%;
}

.dialog-title > button {
    position: relative;
    left: 96%;
}

.group-buttons {
    position: relative;
    top: 30%;
    justify-content: center;
    display: flex;
    grid-gap: 70px;
}

.button-close {
    background-color: #12232E;
    color: #eefbfe;
}

.button-close:hover {

    background-color: #007cc7;
    transition: ease-in 0.25s;    

}

