<div class="container">
    <mat-dialog-content class="dialog-content">
        <ng-container *ngIf="gameInfo.didHostChoseAnotherFlag; else hostDidNotChoseAnother">
            <h1>L'hôte a choisi quelqu'un d'autre</h1>
        </ng-container>
        <ng-template #hostDidNotChoseAnother>
            <h1>L'hôte ne vous a pas accepté</h1>
        </ng-template>
        <mat-dialog-actions>
            <button class ="button-close" mat-raised-button mat-dialog-close>Revenir à la selection de jeux</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>