.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
    margin-left: 480px;
}

#lastChoiceButtons {
    margin-top: 60px;
    margin-left: 25%;
}

#titre {
    margin-top: 50px;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
    background-color: rgb(214, 169, 143);
    color: black;
}

h1 {
    text-align: center;
}

#body {
    background-image: url(../../../../assets/bob.jpg);
    color: white;
    height: 100%;
    width: 100%;
}
