<div class="container">
    <div mat-dialog-title class="dialog-title">
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="dialog-content">
        <h1>Quel est votre nom?</h1>
        <div class="form-radius-container">
            <mat-form-field>
                <label for="username">Nom d'utilisateur: </label>
                <input #userName matInput name="username" (change)="inputChanged()" type="text" />
                <ng-container *ngIf="usernameNotValid">
                    <h3>Votre nom ne peux pas commencer par un espace...</h3>
                </ng-container>
            </mat-form-field>
        </div>
        <mat-dialog-actions>
            <ng-container *ngIf="gameInfo.multiFlag; else soloGame">
                <button mat-raised-button [disabled]="disabledButton" (click)="startUpGameService.sendUsername(this.username.nativeElement.value)">Ok</button>
            </ng-container>
            <ng-template #soloGame>
                <button mat-raised-button [disabled]="disabledButton" (click)="startUpGameService.sendUsername(this.username.nativeElement.value)" routerLink="/game">Ok</button>
            </ng-template>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
