<div class="container">
    <div class="dialog-content">
        <div mat-dialog-title class="dialog-title">
            <button mat-icon-button aria-label="close dialog" (click)="this.dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h1>Veuillez entrer votre nom</h1>
        <div class="form-radius-container">
            <mat-form-field>
                <label for="username">Nom d'utilisateur: </label>
                <input #userName matInput name="username" [(ngModel)] = "username" type="text"/>
                <!-- corriger le css de usernameNotvalid -->
                <ng-container *ngIf="usernameNotValid">
                    <h3>Votre nom ne peux pas commencer par un espace...</h3>
                </ng-container>
            </mat-form-field>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button [disabled]="!username" (click)="startUpGameService.sendUsername(this.username)" mat-dialog-close>Continuer</button>
        </mat-dialog-actions>
    </div>
</div>
