.container {
    height: 100%;
    width: 100%;
}

.dialog-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: solid black 1px;
    border-radius: 5px;


}

.dialog-content > h1 {
    position: relative;
    left: 2%;
}
.form-radius-container > * {
    position: relative;
    left: 5%;

}
mat-dialog-actions > button{
    position: relative;
    left:35%;
    top:70px;
    width: 30%;
    background-color: rgb(214, 169, 143);
}

.dialog-title > button {
    position: relative;
    left:92%;
}