h1 {
    font-size: 28px;
    text-align: center;
}

h3 {
    text-align: center;
}

.inputs {
    font-size: large;
    display: grid;
    grid-row: auto;
    gap: 20px;
}

#entries {
    color: white;
}

#body {
    background-color: #12232E;
    color: #eefbfe;
    height: 100%;
    width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0.25em 0 0.75em 0;
    background-color: #a0b4b5;
}

mat-label {
    color: white;
}

mat-hint {
    color: white;
}

mat-form-field {
    color: white;
}

.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
    margin-left: 480px;
    margin-top: 7px;
    // background-color: #2e559540;
}

#submitButton {
    margin-top: 15px;
    width: 90px;
    margin-left: 225px;
    height: 40px;
    font-size: large;
}

#ratioMsg {
    margin-top: 30px;
    color: red;
    background-color: cornsilk;
}

.buttonValidate{
    background-color: #203647;
    color: #eefbfe;
}

.buttonValidate:hover:enabled{
    background-color: #007cc7;
    transition: ease-in 0.25s;

}