.container {
    height: 100%;
    display: flex;
    min-width: 1920px;
    min-height: 1080px;
    background: linear-gradient(110deg, #12232E 60%, #4dabda 60%);
    color: white
}

.play-area-container {
    flex: 1 1 auto;
    width: 80%;
    left: 30px;
    vertical-align: auto;
}

.sidebar-container {
    display: flex;
}
