.container {
    height: 100%;
    display: flex;
    min-width: 1920px;
    min-height: 1080px;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
    width: 80%;
    vertical-align: auto;
}

.sidebar-container {
    display: flex;
}
