.section {
    display: block;
    align-content: center;
    align-items: center;
    height: 30px;
    font-size: medium;
}
h1 {
    text-align: center;
}

button {
    font-size: medium;
}

#checkbox {
    text-align: center;
}

#contenu {
    margin-top: 5%;
}

h1:first-of-type {
    font-size: 28px;
}

#verificationMsg {
    margin-top: 20px;
    font-size: large;
    text-align: center;
    position:relative;
    bottom: 69px;
}

.group-button{
    position:relative;
    top:50px;
}

#validateChoice {
    margin-top: 25px;
}

.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
    margin-left: 480px;
}

#lastChoiceButtons {
    margin-top: 20px;
    margin-left: 20%;
}

#data {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position:relative;
    bottom: 69px;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
    background-color: #203647;
    color: #eefbfe;
    top: 95px;
}

.mat-raised-button.mat-accent:hover{
    
    background-color: #007cc7;
    transition: ease-in 0.25s;
}


#body {
    background-color: #12232E;
    color:White;
    height: 100%;
    width: 100%;
}

mat-checkbox {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: #eefbfe;
    margin-top: 10px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #eefbfe !important;
  }
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #007cc7!important;
    border: solid #007cc7;
  }
  
  
