<div id="body">
    <button mat-mini-fab color="warn" aria-label="close dialog" (click)="this.dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>Réinitialisation</h1>

    <div id="contenu">
        <ng-container *ngIf="!isValidChoice">
            <div id="checkbox">
                <section class="section">
                    <mat-checkbox [(ngModel)]="resetTimeConstants" (ngModelChange)="getInfoToReset()">Constantes de jeu</mat-checkbox>
                </section>
                <section class="section">
                    <mat-checkbox [(ngModel)]="resetRecordsTimeBoard" (ngModelChange)="getInfoToReset()"
                        >Table des meilleurs temps de jeu</mat-checkbox
                    >
                </section>
                <button id="validateChoice" color="accent" mat-raised-button (click)="validateChoice()">Valider</button>
            </div>
        </ng-container>

        <ng-container *ngIf="isLastChance">
            <div class="group-button">
                <button mat-raised-button color="accent" (click)="resetData()" id="lastChoiceButtons">Réinitialiser</button>
                <button mat-raised-button color="accent" (click)="modifyChoice()" id="lastChoiceButtons">Annuler</button>
            </div>

            <h1 id="verificationMsg">Êtes-vous sûr de vouloir réinitialiser ces données?</h1>
            <div id="data">{{ gameConstants }}</div>
            <div id="data">{{ recordsTime }}</div>
        </ng-container>
    </div>
</div>
