.section {
    display: block;
    align-content: center;
    align-items: center;
    height: 30px;
    font-size: medium;
}
h1 {
    text-align: center;
}

button {
    font-size: medium;
}

#checkbox {
    text-align: center;
}

#contenu {
    margin-top: 5%;
}

h1:first-of-type {
    font-size: 28px;
}

#verificationMsg {
    margin-top: 20px;
    font-size: large;
    text-align: center;
}

#validateChoice {
    margin-top: 25px;
}

.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
    margin-left: 480px;
}

#lastChoiceButtons {
    margin-top: 20px;
    margin-left: 20%;
}

#data {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
    background-color: rgb(214, 169, 143);
    color: black;
}

#body {
    background-image: url(../../../../assets/bob.jpg);
    color: white;
    height: 100%;
    width: 100%;
}

mat-checkbox {
    background-color: rgb(237 176 140 / 86%);
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    margin-top: 10px;
}
