<div class="container">
    <div mat-dialog-title class="dialog-title">
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="dialog-content">
        <h1>Validation</h1>
        <div class="form-radius-container">
            <!-- <div>Nombre de difference : __NombreDiff__</div> -->
            <mat-form-field>
                <label for="nbDiff">Nombre de differences :  {{numberOfDifference}} </label>
                <input matInput name="nbDiff"/>
            </mat-form-field>
            <mat-form-field>
                <label for="name">Nom du Jeu : </label>
                <input #name matInput name="name" />
            </mat-form-field>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button   >Retour</button>
            <button mat-raised-button (click)="addGame(gameToAdd)">Créer</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
