.container {
    width: 100%;
    height: 100%;
    border: solid grey 1px;
    border-radius: 5px;
    background-image: url(../../../../assets/bob.jpg);
    color:white;
}

.dialog-title {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 84%;
    margin: 0px;
    padding: 0px;
}

.dialog-content > * {
    justify-content: center;
    display: flex;
}

.form-radius-container {
    flex-direction: column;
}

mat-form-field {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.form-radius-container > div {
    text-align: center;
}

.gameForm{
    position:relative;
    bottom: 20px;
}

.createButton{
    background-color: rgb(214, 169, 143);
}
.image-difference{
    position:relative;
    width:50px;
    height:50px;
    left: 240px;
    }