<div class="container">
    <div mat-dialog-title class="dialog-title">
    </div>
    <mat-dialog-content class="dialog-content">
        <h1>Veuillez nommer votre jeu</h1>
        <div class="form-radius-container">
            <mat-form-field class="gameForm">
                <label for="name">Nom du Jeu : </label>
                <input #name matInput name="name" />
            </mat-form-field>
            <div>Nombre de differences trouvées :  {{numberOfDifference}} </div>
        </div>
        <mat-dialog-actions>
            <button class = "createButton"mat-raised-button mat-dialog-close (click)="addGame()">Créer</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
