.container-view {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1920px;
    max-height: 1080px;
    gap: 40px;
    background: url(../../../assets/bob.jpg)
}

.container-tools {
    border: solid blue;
}
.container-paint {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: 47%;
    justify-content: center;
    border: solid black 1px;
    border-radius: 5px;
    margin: 10px 10px 10px 20px;
}

.container-images-paint {
    display: grid;
    grid-template-columns: 9fr  1fr ;
}


.container-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 10px;
}

#validate {
    width: 180px;
    right: 3%;
}

#download {
    width: 120px;
    right: 3%;
}

.mat-mini-fab{
    width: 70px;
    height: 70px;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
    background-color: #c3cbcf
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    color: #16486a;
}

