<div class="container-view">
    <button mat-mini-fab aria-label>
        <mat-icon routerLink="/admin">home</mat-icon>
    </button>
    <div class="container-images-paint">
        <app-list-images-rendered class="container-images" ></app-list-images-rendered>
        <div class = "container-tools">
            <app-tool-setting [indexTool] = "0" class="container-paint"></app-tool-setting>
            <app-tool-setting [indexTool] = "1" class="container-paint" ></app-tool-setting>
        </div>
    </div>
    <div class="container-buttons">
        <button id="validate" >Merge</button>
        <button id="download" mat-raised-button (click)="onCreateDownloadPopDialog()">Download</button>
        <button id="validate" [disabled]="verifyTwoImagesUploaded()" mat-raised-button (click)="onCreateValidatePopDialog()">Valider</button>
    </div>
</div>


