<div class="container-view">
    <button mat-mini-fab aria-label>
        <mat-icon>home</mat-icon>
    </button>
    <div class="container-images-paint">
        <app-editable-images></app-editable-images>
        <div class="container-paint">
            <button mat-mini-fab></button>
            <button mat-mini-fab></button>
        </div>
    </div>
    <div class="container-buttons">
        <button id="download" mat-raised-button>D</button>
        <button id="validate" mat-raised-button>Validate</button>
    </div>
</div>
