<div class="container-view">
    <button mat-mini-fab aria-label routerLink="/admin">
        <mat-icon>settings</mat-icon>
    </button>
    <div class="container-images-paint">
        <div class = "container-tools">
            <app-tool-setting [nameTool] = "'original'"  [indexTool] = "0" class="container-paint"></app-tool-setting>
        </div>
        <app-list-images-rendered class="container-images" ></app-list-images-rendered>
        <div class = "container-tools">
            <app-tool-setting [nameTool] = "'modifié'" [indexTool] = "1" class="container-paint" ></app-tool-setting>
        </div>
    </div>
    <div class="container-buttons">
        <button class = "button-process" id="download"  matTooltip="Téléverser l'image modifié et l'image original"  mat-raised-button (click)="onCreateDownloadPopDialog()">
            <i class="material-icons">upload_file</i>
        </button>
        <button class = "button-process" id="validate"[disabled]="verifyTwoImagesUploaded()" mat-raised-button (click)="onCreateValidatePopDialog()">Valider</button>
    </div>
</div>


