<div class="container">
    <div mat-dialog-title class="dialog-title">
        <button mat-icon-button aria-label="close dialog" routerLink="/home" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="dialog-content">
        <h1>Bravo!</h1>
        <div class="form-radius-container">
            <p>{{ messageToDisplay }}</p>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button mat-dialog-close routerLink="/home">Ok</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
