.container {
    display: flex;
    height: 100%;
    padding: 0px 24px;
}

.dialog-content {
    position:relative;
    overflow: hidden;
    border: solid black 1px;
    border-radius: 5px;
    height: 100%;
    width:100%;
}
