<div class="container">
    <div mat-dialog-title class="dialog-title">
        <button mat-mini-fab color="warn" aria-label="close dialog" routerLink="/home" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="dialog-content">
        <ng-container *ngIf="data.winFlag; else userLost">
            <h1>Bravo!</h1>
        </ng-container>
        <ng-template #userLost>
            <h1>Oops..</h1>
        </ng-template>
        <div class="form-radius-container">
            <p>{{ data.message }}</p>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button mat-dialog-close routerLink="/home">Ok</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
