<div class="container">
    <div mat-dialog-title class="dialog-title">
        <button mat-icon-button routerLink="/home" aria-label ="close dialog" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="dialog-content">
        <h1>Bravo!</h1>
        <div class="form-radius-container">
            <p>Vous avez trouvé toutes les différences</p>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button mat-dialog-close routerLink="/home">Ok</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
