<div class="container justified">
    <div class="logo-name-container">
        <div class="header-item">{{ title }}</div>
        <img src="https://bit.ly/3QofL1J" alt="Logo Projet" />
    </div>
    <section id="server-message" class="justified">
        <div class="group-button-homepage justified">
            <!-- on va mettre les pages ici -->
            <button class="button button-homepage" routerLink="/gameSelection">{{ buttonName[0] }}</button>
            <button class="button button-homepage" >{{ buttonName[1] }}</button>
            <button class="button button-homepage" routerLink="/admin">{{ buttonName[2] }}</button>
        </div>
    </section>
    <hr />
    <footer class="footer-item">
        <h4 class="team-name">Équipe 201</h4>
        <p>
            <span>Sebastian Villanueva</span>, <span>Adam Soule Ismaël</span>, <span>Charles-Antoine Vézina</span>, <span>Raphaël Laurendeau</span>,
            <span>Ben-Faras Mohamed</span>, <span>David Amoussa</span>
        </p>
    </footer>
</div>
