.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: orange;
}
.footer-item p :nth-child(odd) {
    color: blue;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

//css-ajouter

.logo-name-container {
    width: 594px;
    height: 88px;
    border-radius: 19px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    top: 100px;
}

.logo-name-container > * {
    width: 288px;
    display: flex;
}

.logo-name-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
.group-button-homepage {
    position: relative;
    top: 100px;
    gap: 14px;
}

.button-homepage {
    top: 349px;
    left: 663px;
    width: 594px;
    height: 89px;
    border-radius: 10px;
    font-size: 25px;
}

.button-homepage:hover {
    background-color: #b8b8b8;
    cursor: pointer;
}
