.container {
    min-height: 1080px;
    min-width: 1920px;
    height: auto;
    background: url(../../../assets/bob.jpg);
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    font-family: The Father;
    color: #ebcdb9;
    font-size: 100px;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #ebcdb9;
    font-size: medium;
}

.header-item {
    justify-content: center;
    text-align: center;
    line-height: 30px;
}

.footer-item {
    text-align: center;
}

.footer-item p {
    color: #ebcdb9;
    font-size: medium;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

//css-ajouter

.logo-name-container {
    width: 594px;
    height: 88px;
    border-radius: 19px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    top: 100px;
}

.logo-name-container > img {
    width: 500px;
    height: 320px;
    position: relative;
    left: 8%;
    bottom: 70%;
}

.logo-name-container > div {
    display: flex;
    justify-content: center;
    position: relative;
    left: 25%;
    align-items: center;
    font-size: 30px;
    width: 300px;
    font-family: Impact;
}
.group-button-homepage {
    position: relative;
    top: 160px;
    gap: 20px;
}

.button-homepage {
    width: 594px;
    height: 100px;
    font-size: 37px;
    border-radius: 15px;
    z-index: 20;
    font-family: sans-serif;
    background-color: rgb(214, 169, 143);
    color: black;
}

.custom-dialog-container .mat-dialog-container {
    padding:0px;
}
