<div class="topbar-onevone">
    <span class="menu-element">
        <p>{{ timeService.showableMinutes }}:{{ timeService.showableSeconds }}</p>
    </span>
    <span class="menu-element">
        <button mat-raised-button disabled>Indice</button>
    </span>
    <span class="menu-element">
        <p>
            {{ mouseDetection.nbrDifferencesFound }} différences trouvées par {{ usernames[0] }} et
            {{ mouseDetection.nbrDifferencesFound }} différences trouvées par {{ usernames[1] }}
        </p>
    </span>
</div>
