mat-grid-tile {
    border: solid black;
    border-radius: 10px;
}

mat-card {
    width: 640px;
    height: 480px;
    border: solid black;
}

mat-card > img {
    width: 100%;
    height: 100%;
}

app-header-image {
    width: 100%;
    height: 100%;
}
