<body>
    <h1>{{ gameForm.gameName }}</h1>
    <div class="infoGameForm">
        <img class="imageGameForm" src="{{ gameForm.gameImage }}" />
        <div class="dataGameForm">
            <ol class="recordTimeSolo">
                <h3>Solo</h3>
                <li *ngFor="let records of gameForm.recordTimesBoard.recordTimesSolo">{{ records.time }} by {{ records.playerName }}</li>
            </ol>
            <ol class="recordTimeVersus">
                <h3>Versus</h3>
                <li *ngFor="let records of gameForm.recordTimesBoard.recordTimesVersus">{{ records.time }} by {{ records.playerName }}</li>
            </ol>
        </div>
    </div>

    <div class="button-group">
        <ng-container *ngIf="buttonPage === 'Admin'">
            <button mat-raised-button (click)="deleteGameForm(gameForm.gameName)">{{ adminGameFormsButton[0] }}</button>
            <button mat-raised-button>{{ adminGameFormsButton[1] }}</button>
        </ng-container>
        <ng-container *ngIf="buttonPage === 'GameSelection'">
            <ng-container *ngIf="isPlayerWaiting; else noOneIsWaiting">
                <button mat-stroked-button (click)="setJoinFlag()" (click)="openDialog(multiplayerFlag)">{{ selectionGameFormsButton[2] }}</button>
            </ng-container>
            <ng-template #noOneIsWaiting>
                <button mat-stroked-button (click)="setCreateFlag()" (click)="openDialog(multiplayerFlag)">{{ selectionGameFormsButton[0] }}</button>
            </ng-template>
            <button mat-stroked-button (click)="resetFlags()" (click)="openDialog(!multiplayerFlag)">{{ selectionGameFormsButton[1] }}</button>
        </ng-container>
    </div>
</body>
