<body>
    <h1>{{ gameForm.gameName }}</h1>
    <div class="infoGameForm">
        <img class="imageGameForm" src="{{ gameForm.gameImage }}" />

        <div class="dataGameForm">
            <ol class="recordTimeSolo">
                <h3>Individuel</h3>
                <li *ngFor="let records of gameForm.recordTimesBoard.recordTimesSolo">{{ records.time }} par{{ records.playerName }}</li>
            </ol>
            <ol class="recordTimeVersus">
                <h3>Multijoueur</h3>
                <li *ngFor="let records of gameForm.recordTimesBoard.recordTimesVersus">{{ records.time }} par {{ records.playerName }}</li>
            </ol>
        </div>
    </div>

    <div class="button-group">
        <ng-container *ngIf="buttonPage == 'Admin'">
            <button mat-raised-button matTooltip="Supprimer le jeu" (click)="deleteGameForm(gameForm.gameName)">{{ adminGameFormsButton[0] }}</button>
            <button mat-raised-button matTooltip="Réinitialiser le classement" >{{ adminGameFormsButton[1] }}</button>
        </ng-container>
        <ng-container *ngIf="buttonPage === 'GameSelection'">
            <ng-container *ngIf="isPlayerWaiting; else noOneIsWaiting">
                <button matTooltip="Rejoindre une partie multijoueur" mat-stroked-button (click)="setJoinFlag()" (click)="openDialog(multiplayerFlag)">{{ selectionGameFormsButton[2] }}</button>
            </ng-container>
            <ng-template #noOneIsWaiting>
                <button mat-stroked-button matTooltip="Commencer une partie multijoueur"  (click)="setCreateFlag()" (click)="openDialog(multiplayerFlag)">{{ selectionGameFormsButton[0] }}</button>
            </ng-template>
            <button mat-stroked-button matTooltip="Commencer une partie individuelle" (click)="resetFlags()" (click)="openDialog(!multiplayerFlag)">{{ selectionGameFormsButton[1] }}</button>
        </ng-container>
    </div>
</body>
