// body {
//     text-align: center;
// }
h1 {
    background-color: rgb(80, 156, 207);
    border-radius: 15px;
    color: rgb(0, 7, 7);
    font-weight: 550;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

// span {
//     display: inline-block;
//     vertical-align: middle;
//     width: 150px;
//     height: 200px;
//     border-style: groove;
//     border-bottom: 0;
//     border-top: 0;
// }
// li {
//     line-height: 4;
//     margin-bottom: 5px;
// }
// div {
//     display: inline-block;
//     vertical-align: middle;
//     top: 100px;
//     left: 100px;
//     width: 200px;
//     height: 200px;
//     border: solid 10px rgb(82, 84, 226);
//     padding: 20px;
//     margin: 10px;
// }
//--------------------
.infoGameForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 62%;
}

.imageGameForm {
    border: solid rgb(4, 0, 255);
    border-radius: 20px;
    height: 100%;
    width: 48%;
}

.dataGameForm {
    border: solid rgb(9, 179, 221);
    border-radius: 20px;
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: row;
}

//Il faut rajouter quelque chose pour faire en sorte que les usernames ne font pas overflow le text (qu'il ne change pas de format)
ol {
    text-align: center;
    list-style-position: inside;
}

.button-group {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2.5%;
    top: 5%;
    right: 1%;
}

.button-group > button:nth-child(1) {
    pointer-events: none;
}

.button-group > button:nth-child(2) {
    cursor: pointer;
}
