body {
    text-align: center;
}
h1 {
    background: linear-gradient(70deg, #eff5b6, #0dd137);
    border-radius: 15px;
    font-weight: 550;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

// div {
//     display: inline-block;
//     vertical-align: middle;
//     top: 100px;
//     left: 100px;
//     width: 200px;
//     height: 200px;
//     border: solid 10px rgb(82, 84, 226);
//     padding: 20px;
//     margin: 10px;
// }
//--------------------
.infoGameForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 62%;
}

.imageGameForm {
    color: rgb(39, 24, 41);
    background-color: rgb(235, 235, 235);
    border: solid rgb(82, 81, 31);
    border-radius: 20px;
    height: 100%;
    width: 48%;
}

.dataGameForm {
    color: rgb(39, 24, 41);
    background-color: rgb(235, 235, 235);
    border: solid rgb(82, 60, 31);
    border-radius: 20px;
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: row;
}

li {
    text-align: center;
    line-height: 3;
}

.button-group {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2.5%;
    top: 5%;
    right: 1%;
}

.button-group > button:nth-child(1) {
    pointer-events: none;
}

.button-group > button:nth-child(2) {
    cursor: pointer;
    color: rgba(8, 83, 8, 0.993);
    background-color: rgb(214, 214, 214);
}
