<div class="chatContainer">
    <div>
        <li class="chatMessages">
            <ng-container *ngFor="let message of messagesSent">
                <div
                    [ngClass]="{
                        localUserMessage: message.senderName === localPlayerUsername,
                        otherUserMessage: message.senderName !== localPlayerUsername && message.senderName !== gameMessageSenderName,
                        gameMessage: message.senderName === gameMessageSenderName
                    }"
                >
                    <span class="timeInMessage">{{ message.timeMessageSent }} </span>
                    <span> {{ message.senderName }} : {{ message.message }} </span>
                </div>
            </ng-container>
        </li>
    </div>
        <form>
            <input type="text" placeholder="Entrez un message" maxlength="200"
                [(ngModel)]="messagesSent" (keypress)="handleKeyEvent($event)"
            />
            <input type="submit" value="Send" class="chatSend" />
        </form>
</div>
