<div class="chatContainer">
    <div class=" display">
        <p
            id="list-display"
            *ngFor="let message of messagesSent"
            [ngClass]="{
                localUserMessage: message.senderName === localPlayerUsername,
                otherUserMessage: (message.senderName !== localPlayerUsername && message.senderName !== gameMessageSenderName),
                gameMessage: message.senderName === gameMessageSenderName
            }"
        >
            {{ message.senderName }} : {{ message.message }}
        </p>
    </div>
        <form>
            <input type="text" placeholder="Entrez un message" maxlength="200"
                [(ngModel)]="messagesSent" (keypress)="handleKeyEvent($event)"
            />
            <input type="submit" value="Send" class="chatSend" />
        </form>
</div>
