
<ng-container >
    <button mat-mini-fab routerLink="/home">
        <mat-icon>home</mat-icon>
    </button>
</ng-container>
<div *ngIf="firstElementIndex != 0" class="arrow left" (click)="previousPageGameForms()"></div>

<div class="gameFormsContainer">
    <mat-progress-spinner *ngIf="reloadState" mode="indeterminate"> </mat-progress-spinner>
    <div class="message-no-game" *ngIf="numberOfGames == 0">Il n'y a pas de jeu disponible</div>

    <ng-container *ngFor="let form of currentPageGameFormList">
        <app-game-form class="gameForm" [gameForm]="form" [buttonPage]="page" (newItemEvent)="deleteAndRefreshGames($event)"></app-game-form>
    </ng-container>
</div>
<div *ngIf="lastElementIndex + 1 < formService.gameForms.length" class="arrow right" (click)="nextPageGameForms()"></div>
