.gameForm {
    border: solid rgb(201, 201, 201) 4px;
    border-radius: 20px;
    border-style: groove;
    height: 100%;
    width: 100%;
}

.mat-progress-spinner{
    position:relative;
    left:95%;
    top:95%;
    height: 300px;

    
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: rgb(214, 169, 143);
    
}

// percentage marche pas , meme si parent a une height!!!
.gameFormsContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 80%;
    position: relative;
    width: 80%;
}

.arrow {
    border: solid rgb(214, 169, 143);
    border-width: 0 3px 3px 0;
    display: inline-block;
    height: 50px;
    padding: 3px;
    width: 50px;
    z-index: 1;
}

.left {
    left: 35px;
    position: absolute;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    position: absolute;
    right: 35px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow:hover {
    border-width: 0 6px 6px 0;
    transition: 0.2s;
    cursor: pointer;
    transition: 0, 5s all ease-out;
}

.mat-mini-fab{
    position: absolute;
    margin: 0px 1730px 950px 0px;
    width: 70px;
    height: 70px;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
    background-color: #c3cbcf
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    color: #16486a;
}

#adminButton{
    margin: 0px 1730px 780px 0px;
}