app-list-game-form {
    background: linear-gradient(2300deg, #395153, rgb(208, 208, 231) 50%, #364b4d);
    align-items: center;
    border: solid grey;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}
