app-list-game-form {
    background: url(../../../assets/bob.jpg);
    align-items: center;
    display: flex;
    min-height: 1080px;
    justify-content: center;
    width: 100%;
    min-width: 1920px;

}
