<div class="topbar">
    <span class="menu-element">
        <p>{{ timeService.showableMinutes }}:{{ timeService.showableSeconds }}</p>
    </span>
    <span class="menu-element">
        <button mat-raised-button disabled>Indice</button>
    </span>
    <span class="username-element">
        <ng-container *ngIf="gameMode === 'Classic mode'; else limitedTime">
            <div *ngFor="let username of playerNames; index as i">
                <div>{{ nbrDifferencesFound[i] }} différences trouvées par {{ username }}</div>
            </div>
        </ng-container>
        <ng-template #limitedTime>
            <ng-container *ngIf="playerNames[1] && playerNames[0]; else solo">
                <div>{{ nbrDifferencesFound[0] + nbrDifferencesFound[1] }} différences trouvées par {{ playerNames[0] }} et {{ playerNames[1] }}</div>
            </ng-container>
            <ng-template #solo>
                <div>{{ nbrDifferencesFound[0] + nbrDifferencesFound[1] }} différences trouvées par {{ playerNames[indexPlayerLeft] }}</div>
            </ng-template>
        </ng-template>
    </span>
</div>
