<div class="topbar">
    <span class="menu-element">
        <p>{{ timeService.showableMinutes }}:{{ timeService.showableSeconds }}</p>
    </span>
    <span *ngIf="isMultiplayer" class="menu-element">
        <button>Indice</button>
        <p>{{ clueAmountLeft }}</p>
    </span>
    <span class="username-element">
        <div *ngFor="let username of playerNames; index as i">
            <div>{{ nbrDifferencesFound[i] }} différences trouvées par {{ username }}</div>
        </div>
    </span>
</div>
