.topbar {
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid black;
    height: 90px;
}

.menu-element {
    height: 40px;
    padding: 14px 148px;
    align-self: center;
}

.username-element {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    align-self: center;
}