<section class="sidebar-container">
    <ul>
        <li>
            <h2>Informations:</h2>
        </li>
        <li>
            <div class="information">
                <p>{{ gameName }}</p>
                <p>{{ gameMode }}</p>
                <p>{{ numberOfDifferences }} différences à trouver</p>
                <p *ngIf="!isMultiplayer && gameMode == classicMode">+{{ clueTimePenalty }}s par indice utilisé</p>
                <p *ngIf="!isMultiplayer && gameMode == limitedTimeMode">-{{ clueTimePenalty }}s par indice utilisé</p>
            </div>
        </li>
        <li>
            <h2>Chat:</h2>
        </li>
        <li class="chat-container">
            <app-chat-section></app-chat-section>
        </li>
    </ul>
</section>
