//Est-ce que sa devrait être des ID ou des class? vu qu'on ne les réutilise pas par la suite
.sidebar-container {
    height: 100%;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type : none;
    padding: 0;
}

ul > li {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.information {
    display: block;
    width: 80%;
    margin: auto; //je défini margin ici et ensuite le bottom et top est ce que c'est correct?
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid black;
}