.container {
    height: 100%;
    width: 100%;
}

mat-grid-tile {
    height: 100%;
    font-size: large;
    
}

button {
    height: 100%;
    background-color: #203647;
    color: #eefbfe;
}

button:hover{
    background-color: #007cc7;
    transition: ease-in 0.25s;
}