.container {
    width: 100%;
    height: 100%;
    border: solid grey 1px;
    border-radius: 5px;
}

.dialog-title {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 84%;
    margin: 0px;
    padding: 0px;
}

.dialog-content > * {
    justify-content: center;
    display: flex;
}

mat-radio-group > * {
    font-size: 1em;
    width: 10vw;
}

.image-difference{
    position:relative;
    width:150px;
    height:150px;
    border : solid red;
    left: 240px;
}



