<div class="container">
    <div mat-dialog-title class="dialog-title">
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="dialog-content">
        <h1>Validation</h1>
        <p>rayon d’élargissement</p>
        <mat-radio-group labelPosition="before">
            <mat-radio-button value="0" (change) = "onRadiusChanged($event.value)">0 :</mat-radio-button>
            <mat-radio-button value="3"  (change) = "onRadiusChanged($event.value)" checked >3 :</mat-radio-button>
            <mat-radio-button value="9" (change) = "onRadiusChanged($event.value)">9 :</mat-radio-button>
            <mat-radio-button  value="15" (change) = "onRadiusChanged($event.value)">15 : </mat-radio-button>
        </mat-radio-group>
        <app-image-difference [offset] = "valueChosen" *ngIf = areImageDifferenceAndNumberDifferenceReady  class ="image-difference"></app-image-difference>
        <mat-dialog-actions>
            <button mat-raised-button mat-dialog-close (click)="onCreateCreateGame()">Continuer</button>
            <button mat-raised-button  (click)="startsGeneratingImageDifferenceAndNumberDifference()">Générer Image Diff</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
