
<div> Canvas  {{indexTool}}</div>

<div class = "mouse-mode-container">
  <button mat-mini-fab id = "{{indexTool}}" value= "write"(click)="setPencilMode($event)">
    <mat-icon>create</mat-icon>
  </button>
  <button mat-mini-fab id = "{{indexTool}}" value= "erase"(click)="setPencilMode($event)">E</button>
</div>
<div >
    <label>Couleur : </label>
    <input (change) = "onChangeColor()" [(ngModel)]="color" type="color" />
  </div>
<mat-form-field appearance="fill">
    <mat-label>Width</mat-label>
    <mat-select [(value)] ="widths[0]" >
      <mat-option *ngFor="let width of widths"  (click) ="onChangeWidth(width)" [value]="width" #chosenWidth>
        {{width}}
      </mat-option>
    </mat-select>
</mat-form-field>
<div class ="group-buttons">
  <button mat-mini-fab [disabled]="checkIfThereAreSavedDrawnLines()" (click) = "cancelActionDrawnLine()"><--</button>
  <button mat-mini-fab [disabled]="checkIfThereAreSavedDeletedDrawnLines()" (click) = "cancelActionDeletedDrawnLine()" >--></button>
</div>
<button  mat-raised-button (click) = "clearCanvas()"> 
  <i class="material-icons">delete</i>
</button>
<button  mat-raised-button (click) = "copyOtherCanvas()">
  <i class="material-icons">content_copy</i>
</button>
<button  mat-raised-button (click) = "shareDataWithOtherCanvas()">
  <i class="material-icons">swap_horiz</i>
</button>