
.mat-mini-fab{
    height: 35px;
    width: 35px;
    background-color: #203647;
    color: #eefbfe;
}
mat-label , :host ::ng-deep .mat-select-value {
    color: white;
}

.pressedButton{
    background-color: #007cc7;
}

.name-tool{
    position: relative;
    bottom : 40px;
}

div{
    color:white
}
.mat-form-field{
    width:80px;
}

.group-buttons{
    display:flex;
    flex-direction:row;
    gap: 5px;
}



button {
    background-color: #203647;
    color: #eefbfe;
}

button:hover{
    background-color: #007cc7;
    transition: ease-in 0.25s;
}