
.mat-mini-fab{
    height: 35px;
    width: 35px;
    background-color: #ebcdb9;
    color: black;
}
mat-label , :host ::ng-deep .mat-select-value {
    color: white;
}


div{
    color:white
}
.mat-form-field{
    width:80px;
}

.group-buttons{
    display:flex;
    flex-direction:row;
    gap: 5px;
}

button{
    background-color: #ebcdb9;
}