<div>
    <label>Couleur : </label>
    <input (change) = "onChangeColor()" [(ngModel)]="color" type="color" />
  </div>
<div class ="group-buttons">
<button (click) ="onChangeModePencil($event)" mat-mini-fab  #writeButton>W</button>
<button (click) ="onChangeModePencil($event)" mat-mini-fab  #eraseButton >E</button>
</div>
<mat-form-field appearance="fill">
    <mat-label>Width</mat-label>
    <mat-select>
      <mat-option (click) ="onChangeWidth()"*ngFor="let width of widths" [value]="width" #chosenWidth>
        {{width}}
      </mat-option>
    </mat-select>
</mat-form-field>