.container {
    display: flex;
    height: 100%;
    padding: 0px 24px;
    background-image: url(../../../../assets/bob.jpg);
}

h1 {
    position: relative;
    bottom: 30px;
    color: white;
}

.dialog-content {
    position: relative;
    border: solid black 1px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 35%;
}

.dialog-title > button {
    position: relative;
    left: 96%;
}

.button-choice {
    background-color: rgb(214, 169, 143);
}

.group-buttons {
    position: relative;
    top: 30%;
    justify-content: center;
    display: flex;
    grid-gap: 70px;
}

.button-close {
    background-color: rgb(214, 169, 143);
}
