.play-area {
    outline: none;
    width: 100%;
}

.image-container {
    display: inline-block;
    width: 40%;
    height: 550px;
    padding: 35px 35px;
}

.image {
    display: inline-block;
    border: solid black;
    width: 640px;
    height: 480px;
}

#noClick {
    pointer-events: none;
    transition-delay: 1s;
}

#click {
    pointer-events: all;
}

.button-container {
    padding: 0px 470px 0px 470px;
}

#mouse-position-display {
    margin-top: 15px;
}

canvas {
    position: absolute;
}

#canvasClick {
    opacity: 0.5;
}
