.play-area {
    outline: none;
    width: 100%;
}

.image-container {
    display: inline-block;
    width: 40%;
    height: 550px;
    padding: 15px 15px;
}

.image {
    display: inline-block;
    border: solid black;
    width: 640px;
    height: 480px;
}
button {
    background-color: rgb(214, 169, 143);
}

.title {
    color: rgb(214, 169, 143);
    font-size: 40px;
    position: relative;
    left: 470px;
    top: 10px;
}
#noClick {
    pointer-events: none;
    transition-delay: 1s;
}

#click {
    pointer-events: all;
}

.button-container {
    padding: 0px 470px 0px 470px;
    position: relative;
    left: 167px;
}

#mouse-position-display {
    margin-top: 15px;
}

canvas {
    position: absolute;
}

#paused {
    opacity: 0;
    animation-play-state: paused;
    pointer-events: none;
}

#compassClue {
    opacity: 1;
    animation-play-state: paused;
    pointer-events: none;
}

#blink {
    animation: blink 3s infinite;
    pointer-events: none;
}

#blinkCheat {
    animation: blink 4s infinite;
    pointer-events: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mat-progress-spinner {
    position: relative;
    left: 42%;
    top: 42%;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: rgb(214, 169, 143);
}
